<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>

  <div class = "first">

      <div style="margin-top:100px; margin-bottom:50px !important;">
        
    <img class="page-image" src="assets/imgs/nwatch-logo.png">
  </div>
    <!-- <div style="margin-top:100px; margin-bottom:20px !important;">
    </div> -->
  </div>

  <div class = "second">

  <form novalidate (ngSubmit)="submit()" [formGroup]="signinform">
    <ion-item>
        <ion-icon style="margin-left:-5px!important;margin-right:-25px!important;" item-start name="person"></ion-icon>
      <ion-input formControlName="userid" placeholder="username" [(ngModel)]="userData.userid" type="text"></ion-input>
    </ion-item>

    <div no-lines *ngIf="(signinform.get('userid').hasError('pattern') ||signinform.get('userid').hasError('required') ) && signinform.get('userid').touched">
      <div class="error" *ngIf="signinform.get('userid').hasError('required') && signinform.get('userid').touched">
        Please enter your userID
      </div>

      <div class="error" *ngIf="signinform.get('userid').hasError('pattern') && signinform.get('userid').touched">
        Invalid Characters
      </div>
    </div>

    <ion-item>
        <ion-icon style="margin-left:-5px!important;margin-right:-25px!important;" item-start name="lock"></ion-icon>
      <ion-input formControlName="password" placeholder="password" [(ngModel)]="userData.password" [type]="passwordType" clearOnEdit="false"></ion-input>
      <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
    </ion-item>

    <div no-lines *ngIf="(signinform.get('password').hasError('required') ) && signinform.get('password').touched">
      <div class="error" *ngIf="signinform.get('password').hasError('required') && signinform.get('password').touched">
        Please enter your password
      </div>

    </div>

      
    <button type="submit" ion-button block [disabled]="signinform.invalid">Submit</button>
  </form>

</div>
  
</ion-content>
