page-login {


    .scroll-content{

        padding-bottom: 0px !important;
    }

    .first {
        display:block; 
        //max-width: 400px; 
        margin-right: auto; 
        margin-left:auto;
      }

      .second {
        position: relative;
        height: 70%;
        display:block; 
        //max-width: 600px; 
        margin-right: auto; 
        margin-left:auto; 
         background-color:#225094;
         
      }

      .passwordIcon{
        font-size:2rem !important;
        position: relative !important;
        top: 7px !important;
        margin: 0 auto !important;
     }

    .button
    {
        margin-top: 50px !important; 
        background-color:#f17524;
        text-transform: uppercase;
        color:white !important;
        border-radius: 5px 5px 5px 5px !important;

         height:40px !important;
         width: 60% !important;
         display: block;
         margin-left: 20% !important;
         margin-right: auto;
        background-position:right;
        background-size: 45px;
        background-repeat:no-repeat;

        // -webkit-box-shadow: 0px 0px 20px 0px inset rgba(0,0,0,0.2) !important;
        // -moz-box-shadow: 0px 0px 20px 0px inset rgba(0,0,0,0.2) !important;
        // box-shadow: 0px 0px 20px 0px inset rgba(0,0,0,0.2) !important;
        //margin-right: 10% !important;   
    }

    ion-label{
        color: #225094;
        //margin-left:10px;
        font-size: 15px;
        font-weight: bold !important;
    
    }

    ion-grid{
        margin-top:10px;
        margin-bottom:10% !important;
        margin-left:-10px !important;
    }
    h1:first-child{
        margin-top:0px !important;
    }

    .pagetitle{
        text-align: left;
        color: white;
    
        font-size:3.5rem;
        margin-left: -35% !important;
    }

    .page-image{
        //@at-rootmargin-top:50px;
        height: 7vh;
        width: auto;
        margin: auto;
        display: block;
        
      }

      .error {
        color: rgb(223, 62, 62);
        font-size: 15px;
        margin-top: 25px !important;
        margin-left: 20% !important;

      }
    
      .error1 {
        color: rgb(75, 75, 75);
        border-bottom: 1px solid #ff0000;
      }
    

    //   ion-input{
    //       padding-left: -20px !important;
    //   }

    ion-item{  
        top: 20px;
         border-radius: 5px;
         height:40px !important;
         width: 60% !important;
         display: block;
         margin-left: 20% !important;
         margin-right: auto;
         margin-bottom: 10px !important;
        background-position:right;
        background-size: 45px;
        background-repeat:no-repeat;
        margin-bottom: 10px;
        //@at-roottext-align: center !important;

        // -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2) !important;
        // -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2) !important;
        // box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2) !important;

        .input:FOCUS{
            color: rgb(155, 102, 102) !important;
            }

}


//     .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
//         color: #225094 !important; 
// }

// .item-input-has-focus .label-md[stacked], .input-has-focus .label-md[stacked]{
//     color: #225094 !important; 
// }
// .item-input .label-md{
//         color: #225094 !important; 
// }

// .item-ios{
//     color: #225094 !important;
// }

    // .textfield{
    
    //     height: 40px;
    //     width: 90%;
        
    //     background-color: transparent;
    //     border-bottom: solid #eeeeee 2px;

    //     border: solid #000000 2px !important;
            
    // }
}

