<!--
  Generated template for the TabsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-tabs [selectedIndex] = "myIndex">
  <ion-tab [root] ="tab1Root" tabTitle="Live Streams" tabIcon="home"></ion-tab>
  <ion-tab [root] ="tab2Root" tabTitle="Recordings" tabIcon="videocam"></ion-tab>
  <div *ngIf="plan!='NWATCH'">
    <ion-tab [root] ="tab3Root" tabTitle="Event Tracking" tabIcon="home"></ion-tab>
  </div>
  <ion-tab [root] ="tab4Root" tabTitle="Profile" tabIcon="person"></ion-tab>
</ion-tabs>
