<!--
  Generated template for the Tab1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar align-title=”center”>
  
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>

    <ion-title style="text-align:center;">
      <img style="margin-left:-20%" alt="logo" height="30" src="assets/imgs/logo-small.png">
    </ion-title>

    <!-- <ion-buttons end>
      <button ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
  
  </ion-navbar>

</ion-header>


<ion-content>


    <!-- <ion-card>
        <ion-card-header>
          Live Streams
        </ion-card-header>
      
        <ion-list inset *ngFor="let cam of cameras;let i = index" (click)="openCam(i)">
          <button ion-item>
            <ion-icon name="videocam" item-start></ion-icon>
            {{cam.title}}
          </button>
        </ion-list>
      </ion-card> -->

    <ion-card *ngFor="let cam of cameras;let i = index" (click)="openCam(i)" tappable>
      <button ion-item>
          <ion-icon name="videocam" item-start></ion-icon>
          {{cam.title}}
      </button>
    </ion-card>
</ion-content>
