<!--
  Generated template for the NotificationHandlerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<ion-navbar align-title=”center”>
  
  <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
  </button>

<ion-title style="text-align:center;">
  <img style="margin-left:-20%" alt="logo" height="30" src="assets/imgs/logo-small.png">
</ion-title>

  <!-- <ion-buttons end>
    <button *ngIf="!(ifLoggedIn)" ion-button (click)="goToLogin();">
      Login
    </button>
  </ion-buttons> -->

</ion-navbar>

</ion-header>

<ion-content class="card-background-page">

  <ion-card>
    <img [src]="image"/>
    <div class="card-title">Event</div>
    <!-- <div class="card-subtitle">41 Listings</div> -->
  </ion-card>

</ion-content>

