<!--
  Generated template for the Tab2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar align-title=”center”>
  
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>

    <ion-title style="text-align:center;">
      <img style="margin-left:-20%" alt="logo" height="30" src="assets/imgs/logo-small.png">
    </ion-title>

    <!-- <ion-buttons end>
      <button ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
  
  </ion-navbar>

</ion-header>


<ion-content>

    <ion-item-group *ngFor="let group of groups;let j = index" >
        <ion-item-divider color="light" (click)="toggleGroup(group)">
          {{group.title}}
          <ion-icon item-left name="add"></ion-icon>
          
        </ion-item-divider>

        <button *ngIf="group.active" style="background-color: black;color:white;" ion-button block (click)="openDatePicker(j)">{{date}}</button>
          
        <ion-item *ngFor="let item of group.items;let i = index" (click)="playRecording(j,i)" [@expand]="group.active">
          <ion-icon name="videocam"></ion-icon>
            <!-- <div style="text-align:center;" *ngIf="i==0">
                <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="date"></ion-datetime>
              <br>
              <button ion-button block (click)="openDatePicker()">Select Date</button>
            </div> -->
            {{item}}
          </ion-item>
            
        </ion-item-group>

    <!-- <ion-card *ngFor="let cam of cameras;let i = index" (click)="goToRecordings(i)" tappable>
      <button ion-item>
          <ion-icon style="color:lightblue !important" name="videocam" item-start></ion-icon>
          {{cam.title}}
          <ion-icon name="arrow-round-forward" item-end></ion-icon>
      </button>
    </ion-card> -->
</ion-content>

