<ion-menu [content]="content">
  <ion-header>
      <ion-navbar>
        <ion-title>Menu</ion-title>
      </ion-navbar>
  </ion-header>

  <ion-content padding>
    <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
            <ion-icon item-start [name]="p.icon" [color]= "isActive(p)"></ion-icon> 
            {{p.title}}
          </button>
    </ion-list>

    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage"  #content swipeBackEnabled="false"></ion-nav>




